// 超出省略
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
// 点击手势
.pointer {
  cursor: pointer;
}
// 数字字体
.number {
  font-family: @oswald;
}
// 强制换行
.text-wrap {
  word-break: break-all;
  white-space: pre-wrap;
}

.primary-color {
  color: @primary-color;
}
.warning-color {
  color: @warning-color;
  &::selection {
    background: @warning-color;
  }
}
.error-color {
  color: @error-color;
  &::selection {
    background: @error-color;
  }
}

.warning-input.ant-input {
  background-color: @warning-bg-color;
  border-color: @warning-border-color;
  color: @error-color;
  &:hover {
    border-color: @warning-border-color;
  }
  &:focus {
    border-color: @warning-border-color;
    box-shadow: 0 0 0 2px rgba(254; 216; 180; 0.2);
  }
}
